@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  background-color: #f6f6f2;
}
/* CSS for Header-->Start */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  width: auto;
  border-radius: 1px;
  color: #388087;
  font-weight: bold;
  margin-bottom: 10px;
}

.title {
  font-size: 30px;
  cursor: pointer;
}

.header .nav-items ul {
  display: flex;
  margin-right: 30px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.nav-items ul li {
  padding: 10px;
  font-size: 25px;
}

/* CSS for Header-->End */

/* CSS for MoviesList +Card -->Start */
.movies-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  color: #388087;
}
.card {
  width: 12em;
  border-radius: 1px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 15px;
  margin: 22px;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05);
}
.card img {
  width: 100%;
  border-radius: 1px;
}
.card .c-name {
  font-size: 25px;
}
.c-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* CSS for MoviesList +Card -->End */

/* CSS for MoviesInfo -->Start */

.desciption {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  /* align-items: center; */
}
.desciption .m-img {
  width: 90em;
  height: 50em;
  overflow: hidden;
  margin-right: 10px;
  border: 10px solid #badfe7;

  display: flex;
  align-items: center;
  justify-content: center;
}
.desciption .m-img img {
  width: 90%;
  height: 90%;
}

.m-wrap1 {
  margin-left: 10px;
  border: 10px solid #badfe7;
  padding: 10px;
  color: #388087;
  width: 100em;
  margin-right: 10px;
  height: min-content;
}

.m-name {
  font-size: 60px;
  font-weight: 1000;
  margin-bottom: 10px;
}
.m-wrap2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 100;
}
.m-summary {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.m-wrap3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.m-wrap4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.m-wrap5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.m-wrap6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.m-span {
  font-weight: 1000;
}

.m-url {
  width: 200px;
  height: 50px;
  text-decoration: nones;
  outline: none;
  border: none;
  border-radius: 1px;
  background-color: #388087;
  color: white;

  font-size: 20px;
}
.m-url:hover {
  background-color: #badfe7;
}
.m-off {
  width: 200px;
  height: 50px;
  text-decoration: nones;
  outline: none;
  border: none;
  border-radius: 1px;
  background-color: #388087;
  font-size: 20px;
  color: white;
}

.m-off:hover {
  background-color: #badfe7;
}

@media (max-width: 954px) {
  .desciption {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .desciption .m-img {
    width: 50em;
    height: 40em;
    margin-bottom: 20px;
  }
  .m-name {
    font-size: 20px;
  }
  .m-wrap1 {
    flex-direction: column;
  }
  .m-wrap2 {
    flex-direction: column;
  }
  .m-wrap3 {
    flex-direction: column;
  }
  .m-wrap4 {
    flex-direction: column;
  }
  .m-wrap5 {
    flex-direction: column;
  }
}
/* CSS for MoviesInfo -->End */
