@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  background-color: #f6f6f2;
}
/* CSS for Header-->Start */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  width: auto;
  border-radius: 1px;
  color: #388087;
  font-weight: bold;
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  color: #388087;
}
.title {
  font-size: 30px;
  cursor: pointer;
}

.header .nav-items ul {
  display: flex;
  margin-right: 30px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.nav-items ul li {
  padding: 10px;
  font-size: 25px;
}

/* CSS for Header-->End */

/* CSS for MoviesList +Card -->Start */
.movies-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  color: #388087;
}
.card {
  width: 12em;
  border-radius: 1px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 15px;
  margin: 22px;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05);
}
.card img {
  width: 100%;
  border-radius: 1px;
}
.card .c-name {
  font-size: 25px;
}
.c-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* CSS for MoviesList +Card -->End */
